<div class="container">
  <div class="text-center">
    <h1 class="p-3 m-3">CREATE AN ACCOUNT</h1>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <p><%= alert %></p>
        <ul class="list-unstyled">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="w-50 p-3">
      <h3 class="p-3">* All fields are requested</h3>
      <%= form_tag url_for(action: 'create'), method: "post" do %>
        <div class="form-group">
          <%= label_tag 'First Name', name="First name" %>
          <%= text_field_tag :first_name, params[:first_name], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag 'Last Name', name="Last name" %>
          <%= text_field_tag :last_name, params[:last_name], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag 'Email', name="Email" %>
          <%= text_field_tag :email, params[:email], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag 'Description', name="Description" %>
          <%= text_area_tag :description, params[:description], class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag 'Age', name="Age" %>
          <%= text_field_tag :age, params[:age], class: 'form-control'%>
        </div>

        <div class="form-group">
          <%= label_tag 'City', name="City" %>
          <%= text_field_tag :city, params[:city], class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= label_tag 'Zipcode', name="Zipcode" %>
          <%= text_field_tag :zipcode, params[:zipcode], class: 'form-control'%>
        </div>

        <div class="form-group">
          <%= label_tag 'Password', name="Password" %>
          <%= password_field_tag :password, params[:password], class: 'form-control'%>
        </div>

        <div class="form-group">
          <%= label_tag 'Confirm Password', name="Confirm Password" %>
          <%= password_field_tag :password_confirmation, params[:password_confirmation], class: 'form-control'%>
        </div>

        <div class="form-group d-flex">
          <%= submit_tag "Create Account", :class => "btn btn-secondary mx-auto" %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
