<div class="container">
  <div class="text-center p-3 m-3">
    <h1>Title of this gossip : <%= @gossip.title%></h1> 
    <%= render partial: 'gossips/notice' %>
  </div>
  <div class="card gossip-card" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">Write with ❤️ by <%= @gossip.user.first_name%> <%= @gossip.user.last_name%> ➡️ 
        <%= link_to "See this user", user_path(@gossip.user.id), :class => "new-link"%></h5>
      <h6 class="card-subtitle mb-2 text-muted">Create at : <%= @gossip.created_at%> in 
        <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id), :class => "new-link"%></h6>
      <p class="card-text">Content : <%= @gossip.content%></p>
      <div class="row justify-content-center align-items-center">
        <div class="d-flex gossip-card align-items-center rounded">
          <% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to '👎', gossip_like_path(@gossip, pre_like), method: :delete, class: "m-2 custom-like" %>
          <% else %>
            <%= button_to '👍', gossip_likes_path(@gossip), method: :post, class: "m-2 custom-like" %>
          <% end %> 
          <p class="m-2"><%= @gossip.likes.count %> <%= (@gossip.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </div>
      </div>
      <% if tag?(@gossip) %>
        <%= render partial: 'gossips/tag', collection: @gossip.tags %>
      <% end %>
    </div>
  </div>
  <% if is_creator?(@gossip) %>
    <div class="row justify-content-center">
      <div class="btn-custom-edit m-3"><%= link_to "Edit this gossip", edit_gossip_path(@gossip.id)%></div>
      <%= link_to "Delete this gossip" , gossip_path(@gossip.id), :method => "delete", :class => "btn-custom-delete m-3", :data => {:confirm => "are_you_sure"} %>
    </div>
  <% end %>
  <hr/>
  <%= render partial: 'gossips/form' %>
  <%= render partial: 'gossips/comment', collection: @gossip.comments.reverse %>
</div>